@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

a {
    text-decoration: none;
    color: black;
}

.content {
    padding: 20px;
    font-family: "open sans";
}

.content-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-text h1 {
    font-weight: 300;
    margin: 0;
}

.carousel {
    font-family: "open sans";
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
    height: 361px;
}

.carousel-item {
    display: none;
}

.carousel-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item a:hover img {
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}

.carousel-item img {
    height: 290px;
    width: 250px;
    object-fit: cover;
    transition: 0.3s;
}

.carousel-item h1,
.carousel-item h2,
.carousel-item h3,
.carousel-item h4,
.carousel-item h5,
.carousel-item h6,
.carousel-item p {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.7rem;
    font-weight: 300;
}

.carousel-item h4 {
    cursor: pointer;
}

.is-selected {
    display: block;
    animation: fadeIn 0.9s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.carousel-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    height: 70px;
    width: 50px;
    z-index: 1;
    position: absolute;
    font-size: 0;
}

.carousel-button.prev {
    transform: rotate(180deg);
    left: 0;
    top: 35%;
    margin-left: -50px;
}

.carousel-button.next {
    right: 0;
    top: 35%;
    margin-right: -50px;
}

.carousel-button img {
    height: 20px;
}

.carousel-dots {
    position: absolute;
    bottom: 0;
    left: center;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: -40px;
}

.carousel-dots button {
    height: 25px;
    width: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 6px;
    width: 6px;
    background: rgb(0, 0, 0, 0.3);
    border: none;
    border-radius: 50%;
}

.current-dot {
    background: rgb(0, 0, 0, 0.7);
}