.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-bottom: auto;
}

.form>form {
    margin-bottom: 0;
}

.form>form>fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form>form>fieldset {
    border: none;
}

.form>form>fieldset>legend {
    font-size: 2rem;
    margin: 10px auto;
}

.form>form>fieldset>h3 {
    margin-bottom: 0;
}

.form>form button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: white;
    margin: 20px 0 0;
    border-radius: 5px;
    padding: 9px 16px;
    font-size: 0.95rem;
}

fieldset>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset>div>label {
    font-family: "Source Sans 3";
    font-size: 1.6rem;
    font-weight: 300;
    width: 140px;

}

fieldset>div>input {
    font-family: "Source Sans 3";
    font-size: 1.3rem;
    font-weight: 300;
    margin: 5px 0;
    width: 300px;
    padding: 0 5px;
}

#loginRegisterDiv {
    display: flex;
}

#loginRegisterDiv a {
    font-size: 1.6rem;
    margin: 15px 0;
    margin-left: 8px;
}

@media (max-width: 915px) {
    .form {
        padding: 20px;
    }

    .form>form>fieldset>legend {
        font-size: 1.5rem;
        margin: 10px auto;
    }

    .form>form button {
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.6);
        background-color: white;
        margin: 20px 0 0;
        border-radius: 5px;
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    fieldset>div>label {
        font-size: 1.3rem;
        width: 110px;
    }

    fieldset>div>input {
        font-size: 1.1rem;
        width: 200px;
    }

    #loginRegisterDiv {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #loginRegisterDiv h3 {
        font-size: 1.3rem;
        margin: 0;
        margin-left: 8px;
    }

    #loginRegisterDiv a {
        font-size: 1.3rem;
        margin: 0;
        margin-left: 8px;
    }
}