.notif-div {
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    padding: 15px 25px;
    opacity: 0;
    transition: 0.5s;
}

.notif-div h3 {
    margin: 0;
}

@media (max-height: 915px) {
    .notif-div {
        position: fixed;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        z-index: 5;
        padding: 15px 25px;
    }
}