#shippingMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    margin: 0 auto auto;
    height: max-content;
}

#shipping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#shippingMain h3 {
    font-size: 2rem;
    margin: 0;
}

#shippingMain button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: white;
    margin: 15px auto;
    border-radius: 5px;
    padding: 9px 16px;
    font-size: 0.95rem;
    margin: 20px 0 15px;
}

#shipping>form {
    margin: 0px;
}

#shipping>form>div {
    display: flex;
    flex-direction: column;
    margin: 7px;
}

#shipping>form>div>input,
#shipping>form>div>select {
    height: 30px;
    font-size: 1.3rem;
    width: 370px;
    padding: 0 4px;
    margin: 0;
}

#shipping>form>div>input {
    cursor: auto;
}

#shipping>form>div>label {
    font-size: 1.5rem;
    width: fit-content;
}

#saveAddress {
    flex-direction: row !important;
    margin: 0 !important;
}

#saveAddress input {
    width: fit-content !important;
    margin: 3px 7px !important;
}

.shippingAddress {
    cursor: pointer;
}

.shippingAddress h3 {
    cursor: pointer;
    font-size: 1.4rem !important;
}

#savedAddresses {
    margin: 0;
}

#savedAddresses h4 {
    font-size: 1.6rem;
    margin: 0;
}

#payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: max-content;
    padding: 60px 0;
    margin: 0 auto auto;
}

#payment h3 {
    font-size: 2rem;
    margin: 0;
}

#payment h4 {
    margin: 0;
}

#payment label {
    font-family: "Source Sans 3";
    cursor: default;
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 5px;
}

#payment button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: white;
    margin: 15px auto;
    border-radius: 5px;
    padding: 9px 16px;
    font-size: 0.95rem;
}

#payment>div {
    width: 100%;
    margin: 20px 0 10px;
}

#orderMain {
    display: flex;
    padding: 80px;
    margin: 0 auto auto;
}

#orderMainLeft {
    margin-right: 300px;
}

#orderMainLeft h4 {
    font-size: 1.4rem;
}


#orderMainLeft h2 {
    font-size: 2rem;
    margin: 0;
}

#orderMainLeft>div {
    margin: 0;
    margin-top: 20px;
}

#orderMainLeft>:nth-child(2) {
    margin-top: 15px;
}

#orderMainLeft>div h3 {
    margin: 0;
}

#orderMainLeft>div:last-child h3 {
    margin: 10px 0;
}

.orderItems {
    display: flex;
    align-items: center;
}

.orderItems h4 {
    margin: 3px 0;
    width: 170px;
    font-size: 1.3rem !important;
}


.orderItems h4:nth-child(1) {
    font-size: 1.4rem !important;
}

#orderMainSummary h3 {
    margin: 0 0 10px;
    font-size: 1.6rem;
}

#orderMainSummary h4 {
    font-size: 1.4rem;
    margin: 5px 0;
    width: 140px;
}

#orderMainSummary>div {
    display: flex;
}

#orderMainSummary button {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-color: white;
    margin: 15px auto;
    border-radius: 5px;
    padding: 9px 16px;
    font-size: 0.95rem;
    margin-left: 40px;
}

.status {
    width: fit-content;
    padding: 5px 13px;
}

.fullfilled {
    background-color: #DDFFDC;
}

.not_fullfilled {
    background-color: #FFE4E4;
}

@media (max-width: 915px) {
    #shippingMain {
        width: fit-content;
        padding: 30px;
    }

    #shipping {
        width: fit-content;
    }

    #shipping form {
        width: fit-content;
    }

    #shipping>form>div>input,
    #shipping>form>div>select {
        width: 100%;
    }

    #payment {
        padding: 30px;
    }

    #orderMain {
        padding: 15px;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    #orderMain h4 {
        font-size: 1.25rem;
    }

    #orderMainLeft {
        margin-right: 0;
    }

    #orderMainLeft h2 {
        font-size: 1.4rem;
    }

    #orderMainLeft h3 {
        margin: 0 !important;
    }

    #orderMainLeft h4 {
        margin: 0;
    }

    #orderMainLeft h4 :first-child {
        margin: 0;
    }

    .order-address h4 {
        margin: 0 !important;
    }

    .orderItems h4 {
        width: fit-content;
        margin: 0 5px !important;
        font-size: 1.25rem !important;
    }

    .orderItems h4:first-child {
        margin: 0 !important;
    }

    #orderMainSummary {
        margin: 20px 0;
    }

    #orderMainSummary>h3 {
        margin: 4px 0;
    }

    #orderMainSummary>div>h4 {
        margin: 2px 0;
    }

    .status {
        margin: 5px 0 !important;
    }
}